@import 'normalize.css';

:root {
    --primary: red; //example
}

* {
    box-sizing: border-box;
}

html {
    //font-family: ;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    font-size: 16px !important; 
}
